.About{
    margin-top: 200px;
    color: $base-color;
    padding-bottom: 15px;
    h5{
        margin-top: 30px;
    } 
    .Download{
        color:$light-gray;
        border:2px solid $light-gray;
        padding: 10px;
        background: none;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 100px;
    }
}