.Education{
    img{
        width: 100px;
        height: 100px;
    }
        color: darken($color: $light-gray, $amount: 50);
    .ed{
        border-bottom: 1px solid $light-gray;
    }

    h2{
        color:$mustard;

    }
    .edc{
        opacity: 0;   

    }
}