.Skils{
    .skl{
        border-radius: 5px;
        box-shadow:0px 0px 2px 4px #ccc;
        margin-bottom: 50px;
      
        opacity: 0;
     
        img{
            height: 100px;
        }
   
    }
   

}
